@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

html {
  height: 100vh;
}
body {
  font-family: "Roboto", sans-serif;
  background-color: hsl(0, 0%, 96%);
  padding-bottom: 2em;
}
h1 {
  color: hsl(0, 0%, 20%);
  font-family: "Noto Sans", sans-serif;
  text-transform: uppercase;
  text-align: center;
  margin-top: 2rem;
  font-weight: 900;
}
.container {
  background-color: white;
  padding: 1rem;
  border-radius: 1rem;
  margin-top: 2rem;
  height: auto;
  box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.02),
    0 6.7px 5.3px rgba(0, 0, 0, 0.028), 0 12.5px 10px rgba(0, 0, 0, 0.035),
    0 22.3px 17.9px rgba(0, 0, 0, 0.042), 0 41.8px 33.4px rgba(0, 0, 0, 0.05),
    0 100px 80px rgba(0, 0, 0, 0.07);
}

form,
.mensajes {
  padding: 2rem;
  max-width: 600px;
  margin: 0 auto;
}
.mensajes {
  text-align: center;
}
.resultado {
  border: 2px solid hsl(191, 100%, 42%);
  padding: 3rem 0;
}
form label {
  text-align: center;
  font-size: 2rem;
}
input[type="submit"]:disabled {
  opacity: 0.2;
  color: black;
}

.error {
  background-color: white;
  border: 2px solid red;
  padding: 0.5rem;
  text-align: center;
  color: red;
  text-transform: uppercase;
  max-width: 600px;
  margin: 0 auto;
}
.resultado p {
  margin: 0;
}
